.attribute-label {
  font-weight: 700;
  font-size: 18px;
  margin: 16px 0 7px 0;
  font-family: "Roboto Condensed";
  line-height: 18px;
  text-transform: uppercase;
}

.attributes-list {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  align-items: center;
}

.item-attribute {
  box-sizing: border-box;
  width: 63px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #1d1f22;
  color: #1d1f22;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.selected-text {
  background-color: #1d1f22;
  color: #fff;
  box-sizing: border-box;
  width: 63px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.item-color {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.color {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.attributes-list li:last-child {
  border: 0.1px solid #1d1f22;
}

.color-label {
  margin: 16px 0 10px 0;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.selected-color {
  border: 1px solid #5ece7b !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}
