@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.cart-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.badge {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1f22;
  border-radius: 60px;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 0;
  right: -1px;
}
